* {
    margin: 0;
    padding: 0;
}

.cabecalho{

    padding: 15px;
    background-color:#FFCFD2;
  
   
}

#logo {
    width: 200px;
}

#flex_box{
    display: flex;
    align-items: center;
    
}

#h1_header {

    font-size: 3em;
    color: rgb(0, 0, 0);
}

#navegacao {

    padding: 25px;
    background-color:#009FB7
}
nav{
    display: flex;

}

ul{
    margin-left: 100px;
}


a{
    margin: 10px;
    font-size: 2em;
    color: aliceblue;
    text-decoration: none;
}

.links_cadastro {

    margin-left:auto
}

body{

    background-color: #FED766;
}

.h1_dica{
    color: white;
    margin-top: 40px;
    text-align: center;
    font-size: 3em;
}



.flex_animal{
    display: flex;
    justify-content:center;
    margin-top: 50px;
    align-items: center;
    flex-wrap: wrap;
}
.animais {
    width: 600px;
}
.gato{
    width: 600px;
    
}

.box_texto_dica{
    width: 600px;
    padding: 25px;
    height: 300px;
    border-radius: 10px;
    border: solid white 6px;
    background-color: bisque;
    box-sizing: border-box;
    overflow: auto;
    
   
}
p{
    margin-top: 15px;

}

h2{

    margin-top: 15px;



}
.box_promocao {
    width: 100%;
    height:auto;
    padding: 50px;
    background-color:#FFCFD2;
    box-sizing: border-box;
}

.box_h1{
    width:auto;
    
}


.h1_promocao{

    color: rgb(0, 0, 0);
    padding-top: 50px;
    text-align: center;
    font-size: 3em;
}

.flex_racao{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    
}

.flex_racao2 {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;


}



.racao {

    max-width: 250px;

}


.sub_box_racao {

    display: flex;
    width:auto;
    /* width:600px */
    align-items: center;
    flex-direction: column;

}
.imagem_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px black;


}

.box_preco {

    padding: 10px;
    margin-top: 40px;
    width: 150px;
    height:100px;

    background-color:bisque;
    border-radius: 8px;
}



p{
    text-align: center;
    color: rgb(0, 0, 0);
}


.casa_cachorro,.casa_gato,.brinquedo,.coleira,.areia_gato{

    max-width: 350px;
}

.box_acessórios {

    display: flex;
    flex-direction: column;
   align-items: center;
   margin-top: 120px;
   justify-content: center;
}


.box_cachorro{

    margin-bottom: 100px;
}
.h2_animais{

    font-size: 2.5em;
    text-align: center;

}

.box_cachorro,.box_gato {

    background-color: aliceblue;
    border-radius: 12px;
   
}



@media (max-width: 768px) {
    /* Estilos para telas menores que 768px */
    .cabecalho {
        flex-direction: column;
    }
    #logo {
        margin-bottom: 1rem;
    }
    .links_cadastro {
        display: none;
    }
}